* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    line-height: 1.3;
}

.container {
    max-width: 550px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/THJJRUhNlEc.png');
    background-position: center top;
    color: white;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav h1 {
    font-weight: 800;
    font-size: 2.67rem;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

form {
    position: absolute;
    top: 185px;
    right: 0;
    left: 0;
    display: flex;
    width: 452px;
    margin: 0 auto;
    z-index: 2;
}

form input {
    width: 340px;
    border: 1px solid #d1d5db;
    padding: 0 1em;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

form button {
    width: 120px;
    border: none;
    background-color: #f9fafb;
    padding: .7em;
    border: 1px solid #d1d5db;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

/* Main body */

section#search-result-area {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 208px);
    z-index: 1;
}

.explore-pop-up {
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #dfdddd;
}

/* movie container styling  */

.movie-container {
    display: flex;
    margin-top: 1em;
    gap: 20px;
    border-bottom: 1px solid #E5E7EB;
    font-size: 14px;
    padding: 1.5em 0;
}

.movie-container p {
    color: #6B7280;
}

.poster {
    width: 100px;
    height: 148px;
}

.movie-info-container {
    display: flex;
    flex-direction: column;
}


.top-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-container h2 {
    margin: 0;
    color: #000;
}

.mid-container {
    display: flex;
    gap: 15px;
}

.mid-container p {
    margin: 0;
}

.add-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
